{% extends 'base.html' %}

{% block title %}
Birdwatching info
{% endblock %}

{% block body %}
<h1>Hello, {{user.firstname|default:"Anonymous"}}! It's app for birdwatching</h1>
<img src="https://www.imperial.ac.uk/ImageCropToolT4/imageTool/uploaded-images/newseventsimage_1645625619609_mainnews2012_x1.webp">

<h2> What is birdwatching? </h2>
<p>
Birdwatching, or birding, is the observing of birds, either as a recreational activity or as a form of citizen science. A birdwatcher may observe by using their naked eye, by using a visual enhancement device like binoculars or a telescope, by listening for bird sounds.
</p>

<h2> Application functionality </h2>
<ul>
    <li> Keep a record of your observations </li>
    <li> Share information with other like-minded people </li>
    <li> Learn about the latest interesting observations </li>
</ul>

{% endblock %}