{% extends 'base.html' %}

{% block title %}
Events list
{% endblock %}

{% block body %}
  {% if user %}
    <a href="{% url 'event_create' %}" class="btn btn-primary">Create new</a>
  {% endif %}

  <div class="h1 mb-2">Events:</div>
  {% if object_list %}

    <div class="list-group">
      {% for event in object_list %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
          <div class="fw-bold">{{event.bird}}</div>
            <a href="{% url 'event' pk=event.pk%}">{{ event.watched_at }}, {{ event.country }}</a>
          </div>
          <span class="badge bg-primary rounded-pill">{{ event.author }}</span>
        </li>
      {% endfor %}
    </div>


  {% else %}
    <h2> No events yet</h2>
  {% endif %}
{% endblock %}